{
    "openapi": "3.0.3",
    "info": {
        "title": "RecyThing",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.recything.my.id/"
        }
    ],
    "externalDocs": {
        "description": "RecyThing Github",
        "url": "https://api.server.test/v1"
    },
    "paths": {
        "/admins/login": {
            "post": {
                "tags": [
                    "Login Admin"
                ],
                "summary": "login admin & super admin",
                "description": "endpoint for login admin and super admin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestLogin"
                            },
                            "examples": {
                                "superadmin": {
                                    "value": {
                                        "email": "superadmin@gmail.com",
                                        "password": "123456"
                                    }
                                },
                                "admin": {
                                    "value": {
                                        "email": "admin@gmail.com",
                                        "password": "12345678"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "succes login admin",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil login",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil login",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "name": "alta",
                                                "email": "alta@gmail.com"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "create admin",
                "description": "crete admin, only super admin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestRegister"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "fullname": "alta",
                                        "email": "alta@gmailcom",
                                        "password": "12345678",
                                        "confirm_password": "12345678"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "succes create admins",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response membuat admin",
                                        "value": {
                                            "status": "true",
                                            "message": "berhasil membuat admin",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "fullname": "superadmin",
                                                "email": "superadmin@gmail.com"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "get all admins",
                "description": "get all active and non active admins",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/fullname"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "berhasil mengambil data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdmin"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil mengambil semua admin",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua data admin",
                                            "data": [
                                                {
                                                    "id": "10a6d872-e1e1-4bf2-9d2c-d2e7a3e91f24",
                                                    "fullname": "Putri Hidayah",
                                                    "email": "putri@example.com",
                                                    "status": "",
                                                    "created_at": "0001-01-01T00:00:00Z"
                                                },
                                                {
                                                    "id": "20635dd1-5cfc-4c03-8235-426143246c85",
                                                    "fullname": "Irfan Hakim",
                                                    "email": "irfan@example.com",
                                                    "status": "",
                                                    "created_at": "0001-01-01T00:00:00Z"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 2,
                                                "current_page": 1,
                                                "last_page": 8
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "get detail admins",
                "description": "get detail active and non active admins",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdAdmin"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil mengambil detail admin",
                                        "value": {
                                            "status": true,
                                            "message": "success get detail admin",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "name": "superadmin",
                                                "email": "superadmin@gmail.com",
                                                "status": "active"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "update admin",
                "description": "update admin, only super admin",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdAdmin"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestRegister"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "full_name": "alterra",
                                        "email": "alterra@gmailcom",
                                        "password": "123456789"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "berhasil update data admin",
                                        "value": {
                                            "status": true,
                                            "message": "success updated admin",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "full_name": "alterra",
                                                "email": "alterra@gmail.com"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "delete admin",
                "description": "delete admin by super admin",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdAdmin"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "value": {
                                            "status": true,
                                            "message": "success deleted admin"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/users": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage User"
                ],
                "summary": "get all users",
                "description": "get all active and non active users",
                "responses": {
                    "200": {
                        "description": "berhasil mengambil data users",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil mengambil semua user",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua admin",
                                            "data": [
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "superadmin",
                                                    "email": "superadmin@gmail.com",
                                                    "status": "active"
                                                },
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "admin_name_1",
                                                    "email": "admin_email_1",
                                                    "status": "active"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/users/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage User"
                ],
                "summary": "get all users",
                "description": "get all active and non active users",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdUser"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil menampilkan semua user",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menampilkan data user",
                                            "data": [
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "alta",
                                                    "email": "alta@gmail.com",
                                                    "status": "active"
                                                },
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "alter",
                                                    "email": "alter@gmail.com",
                                                    "status": "active"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage User"
                ],
                "summary": "delete user",
                "description": "delete user by id, this action only for admin",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdUser"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "description": "response delete user",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menghapus user"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/reports": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Report"
                ],
                "summary": "get all report",
                "description": "get all report status and filtering status",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/FilterReport"
                    },
                    {
                        "$ref": "#/components/parameters/searchID"
                    },
                    {
                        "$ref": "#/components/parameters/name"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All data report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReport"
                                },
                                "examples": {
                                    "get all report": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan data reporting",
                                            "data": [
                                                {
                                                    "id": "TS-DA0CD46CB8104B1",
                                                    "report_type": "tumpukan sampah",
                                                    "name": "recything",
                                                    "location": "bekasi",
                                                    "status": "diterima"
                                                },
                                                {
                                                    "id": "TS-DA0CD46CB8104B2",
                                                    "report_type": "tumpukan sampah",
                                                    "name": "recything",
                                                    "location": "palu",
                                                    "status": "ditolak"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 10,
                                                "current_page": 1,
                                                "last_page": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/reports/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Report"
                ],
                "summary": "detail report",
                "description": "get detail report all status.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdReport"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "detail data report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReportDetail"
                                },
                                "examples": {
                                    "report rubbish": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan data",
                                            "data": {
                                                "Id": "TS-DA0CD46CB8104B1",
                                                "report_type": "tumpukan sampah",
                                                "longitude": 111,
                                                "latitude": 111,
                                                "location": "bekasi",
                                                "description": "sampah",
                                                "address_point": "bekasi",
                                                "status": "diterima",
                                                "images": [
                                                    {
                                                        "id": "4895545d-1506-4e2a-80ea-1288374ef3c1",
                                                        "image": "https://storage.googleapis.com/report_proof/proof-file/282aa6d7-7938-4a51-8cc8-99e76b8a558b.png",
                                                        "created_at": "2023-11-21T13:49:02Z",
                                                        "updated_at": "2023-11-21T13:49:02Z"
                                                    },
                                                    {
                                                        "id": "838c9289-e199-4277-b508-27706c3957cd",
                                                        "image": "https://storage.googleapis.com/report_proof/proof-file/46b41149-08cd-4dd2-bf55-7d98758a324b.png",
                                                        "created_at": "2023-11-21T13:49:01Z",
                                                        "updated_at": "2023-11-21T13:49:01Z"
                                                    }
                                                ],
                                                "trash_type": "sampah kering",
                                                "fullname": "recything"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Report"
                ],
                "summary": "Update report",
                "description": "Update report by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdReport"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequesAndResponseUpdateReport"
                            },
                            "examples": {
                                "diterima": {
                                    "description": "contoh request diterima",
                                    "value": {
                                        "status": "diterima"
                                    }
                                },
                                "ditolak": {
                                    "description": "contoh request ditolak",
                                    "value": {
                                        "status": "ditolak",
                                        "rejection_description": "foto buram"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "examples": {
                                    "diterima": {
                                        "description": "response status report diterima",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil memperbarui status"
                                        }
                                    },
                                    "ditolak": {
                                        "description": "response status report ditolak",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil update report status",
                                            "data": {
                                                "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                "report_type": "pelanggaran sampah",
                                                "reporter": "sani",
                                                "status": "ditolak",
                                                "reason": "foto sangat buram"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/prompts": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "create  prompt",
                "description": "create prompt for AI ",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestPrompt"
                            },
                            "examples": {
                                "contoh": {
                                    "description": "ini contoh",
                                    "value": {
                                        "question": "1. cara mendaur ullang sampah plastik",
                                        "category": "sampah organik"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "succes create prompt",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response membuat prompt",
                                        "value": {
                                            "status": "true",
                                            "message": "berhasil membuat prompt",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "question": "sampah plastik",
                                                "category": "sampah botol"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "get all prompt",
                "description": "get  all prompt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/category"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data prompts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePromptDetail"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan seluruh kategori sampah",
                                            "data": [
                                                {
                                                    "id": "06bc555e-6569-4253-b5c6-7f9595b8cf06",
                                                    "category": "batasan",
                                                    "question": "ini question"
                                                },
                                                {
                                                    "id": "0b06a353-ea0d-4716-b784-01d7043beabc",
                                                    "category": "batasan",
                                                    "question": "ini question"
                                                },
                                                {
                                                    "id": "0b9410be-8e06-4087-89ab-a472ced3968c",
                                                    "category": "batasan",
                                                    "question": "ini question"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 3,
                                                "current_page": 1,
                                                "last_page": 8
                                            },
                                            "count_data": 24
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/prompts/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "get detail prompt",
                "description": "get detail all prompt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idPrompt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "deatil data prompt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePromptDetail"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan data",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "category": "sampah plastik",
                                                "question": "cara mendaur ulang kemasan makanan ringan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "description": "update data prompt by id",
                "summary": "update by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idPrompt"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestPrompt"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "category": "sampah organik",
                                        "question": "sampah organik contohnya daun daunan"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "mengupdate data prompt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePromptDetail"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengupdate data",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "category": "sampah organik",
                                                "question": "sampah organik contohnya daun daunan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "Delete Prompt By id",
                "description": "Delete Prompt by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idPrompt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data prompt",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menghapus data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/trashes": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "create category trash",
                "description": "create category trash",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestTrashCategory"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "trash_type": "kaca",
                                        "unit": "kilogram",
                                        "point": 100
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "succes create trash category",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil menambahkan kategori sampah"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "description": "get all trash category",
                "summary": "get all category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/trashType"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTrashCategories"
                                },
                                "examples": {
                                    "succes ": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan seluruh kategori sampah",
                                            "data": [
                                                {
                                                    "id": "1afa0ba9-5e67-4e2d-a21f-a904aa8c0a56",
                                                    "trash_type": "limbah 3",
                                                    "point": 100,
                                                    "unit": "barang",
                                                    "created_at": "2023-11-20T20:20:26.441Z",
                                                    "updated_at": "2023-11-20T20:20:26.441Z"
                                                },
                                                {
                                                    "id": "28bac944-38f4-4f0a-9c03-41f5b64531df",
                                                    "trash_type": "kaleng",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T01:01:22.204Z",
                                                    "updated_at": "2023-11-23T12:28:09.279Z"
                                                },
                                                {
                                                    "id": "28c64e17-40f5-42fb-9ba5-9d82b81d26c5",
                                                    "trash_type": "bahhh",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T00:57:46.253Z",
                                                    "updated_at": "2023-11-22T00:57:46.253Z"
                                                },
                                                {
                                                    "id": "29a14bb0-f1ff-45e3-afd9-1a4c35e28b73",
                                                    "trash_type": "test",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T18:48:22.683Z",
                                                    "updated_at": "2023-11-22T18:48:22.683Z"
                                                },
                                                {
                                                    "id": "2e619697-8471-4230-aab5-b51715deb73d",
                                                    "trash_type": "limbah 2",
                                                    "point": 100,
                                                    "unit": "barang",
                                                    "created_at": "2023-11-20T20:16:12.983Z",
                                                    "updated_at": "2023-11-20T20:16:12.983Z"
                                                },
                                                {
                                                    "id": "2fb9235f-50f4-4f27-9a78-c3b1aa14d183",
                                                    "trash_type": "seng",
                                                    "point": 7000,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T18:42:50.176Z",
                                                    "updated_at": "2023-11-22T18:42:50.176Z"
                                                },
                                                {
                                                    "id": "3011c4aa-0d0f-436e-adb3-acafc9a9bf39",
                                                    "trash_type": "bahhh 22",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T00:58:23.006Z",
                                                    "updated_at": "2023-11-22T00:58:23.006Z"
                                                },
                                                {
                                                    "id": "4de15e8a-c1d3-489f-b1d3-d16863c2e909",
                                                    "trash_type": "bahhh 21",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T00:58:18.236Z",
                                                    "updated_at": "2023-11-22T00:58:18.236Z"
                                                },
                                                {
                                                    "id": "565d6795-852d-4470-88f2-6b6ac131f4f0",
                                                    "trash_type": "test 1",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T18:52:38.065Z",
                                                    "updated_at": "2023-11-22T18:52:38.065Z"
                                                },
                                                {
                                                    "id": "6078292c-4701-4b88-a793-9c5afb1a6d26",
                                                    "trash_type": "limbah minyak",
                                                    "point": 100,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-22T03:33:34.648Z",
                                                    "updated_at": "2023-11-22T03:33:34.648Z"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 10,
                                                "current_page": 1,
                                                "last_page": 2
                                            },
                                            "count_data": 20
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/trashes/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "get detail",
                "description": "get detail category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idTrashCategory"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "succes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTrashCategories"
                                },
                                "examples": {
                                    "success": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan detail kategori sampah",
                                            "data": {
                                                "id": "6f6dd30a-12c7-468a-a57a-bda6cf5cdaf5",
                                                "trash_type": "kayu",
                                                "point": 100,
                                                "unit": "barang",
                                                "created_at": "2023-11-20T13:23:09.262+08:00",
                                                "updated_at": "2023-11-20T13:23:09.262+08:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "delete by id",
                "description": "delete category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idTrashCategory"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil menghapus kategori"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "update by id",
                "description": "update category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idTrashCategory"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestTrashCategory"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "trash_type": "kaca",
                                        "unit": "kilogram",
                                        "point": 100
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mengupdate kategori sampah",
                                            "data": {
                                                "id": "96cab047-aba4-4993-a4e6-deeab768ad2c",
                                                "trash_type": "sampah c update",
                                                "point": 200,
                                                "unit": "barang",
                                                "created_at": "0001-01-01T00:00:00Z",
                                                "updated_at": "2023-11-20T15:13:12.643+08:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/achievements": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Achievement"
                ],
                "summary": "get all achievements with data total claimed",
                "description": "",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "total_point": {
                                            "type": "integer"
                                        },
                                        "total_claimed": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua data",
                                            "data": [
                                                {
                                                    "id": 1,
                                                    "name": "platinum",
                                                    "target_point": 250000,
                                                    "total_claimed": 2
                                                },
                                                {
                                                    "id": 2,
                                                    "name": "gold",
                                                    "target_point": 100000,
                                                    "total_claimed": 0
                                                },
                                                {
                                                    "id": 3,
                                                    "name": "silver",
                                                    "target_point": 50000,
                                                    "total_claimed": 0
                                                },
                                                {
                                                    "id": 4,
                                                    "name": "bronze",
                                                    "target_point": 0,
                                                    "total_claimed": 26
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/achievements/{id}": {
            "patch": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Achievement"
                ],
                "summary": "update point achievements",
                "description": "",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id achievements",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "examples": {
                            "platinum": {
                                "value": 1
                            },
                            "gold": {
                                "value": 2
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "target_point": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "total_point"
                                ]
                            },
                            "examples": {
                                "example": {
                                    "value": {
                                        "target_point": 250000
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil melakukan pembaruan data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/vouchers": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Voucher"
                ],
                "summary": "add new voucher",
                "description": "add new voucher",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestVoucher"
                            },
                            "encoding": {
                                "image": {
                                    "style": "form"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil menambahkan data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Voucher"
                ],
                "summary": "view all voucher with pagination and search",
                "description": "search voucher by reward name and point, view all with pagination limit max 10",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseVoucher"
                                },
                                "examples": {
                                    "default search": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan seluruh data",
                                            "data": [
                                                {
                                                    "id": "0857268a-bd5f-4f42-94ee-01a344c1ea54",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/cfbc02dd-87d0-4cfe-9b6c-39903fcd871d.png",
                                                    "reward_name": "OVO",
                                                    "point": 800,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "2f926f53-d2e6-4542-83c7-6ab75b9f7a30",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/9593aad1-f2fe-4f88-bfa0-37a2afd645b7.png",
                                                    "reward_name": "Dana 5002",
                                                    "point": 5000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "3a12691c-b942-42ec-baf0-13ea023c2651",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/957b9832-3e54-42fb-b843-030ca998a565.png",
                                                    "reward_name": "SEPULSA 50000",
                                                    "point": 150000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "58fd6796-4a6d-43d4-8632-99c4a0ef8cce",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/32955562-192a-4c52-8e0c-d1fd9db60445.png",
                                                    "reward_name": "DANA 20000",
                                                    "point": 20000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "6597343e-4ab9-4b4b-96c2-a03175d1f1af",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/5cf5421d-1c17-437c-9c70-9818be10f066.png",
                                                    "reward_name": "Dana",
                                                    "point": 8000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "6d0f8e23-2605-4841-b77f-c6c636e11a42",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/d42e407a-b8b7-4114-ab74-00ec5eb8fe6a.png",
                                                    "reward_name": "DANA 10000",
                                                    "point": 10000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "8c1b4e4a-049a-4b48-9b3e-8a1eae3dc176",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/1a7db261-fb33-41fa-bf7b-cad8f85047f6.png",
                                                    "reward_name": "GOPAY",
                                                    "point": 800,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "96eeae23-8a03-45e4-93d4-3099d78c9866",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/317a7d43-5d85-4229-8f44-44b8576a4d25.png",
                                                    "reward_name": "SEPULSA 150000",
                                                    "point": 150000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "9951eefe-6256-4683-976d-049c4e79dd94",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/6920081a-2e23-40b1-9f82-e2e142eb4bae.png",
                                                    "reward_name": "OVO 10000",
                                                    "point": 20000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "c3920500-eefe-46ca-9c9e-6b35680c1580",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/e82a2c0c-3da8-4439-975b-d6335540cc90.png",
                                                    "reward_name": "OVO 20000",
                                                    "point": 20000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 10,
                                                "current_page": 1,
                                                "last_page": 2
                                            },
                                            "count_data": 12
                                        }
                                    },
                                    "search": {
                                        "description": "search by name 'ovo'",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan seluruh data",
                                            "data": [
                                                {
                                                    "id": "0857268a-bd5f-4f42-94ee-01a344c1ea54",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/cfbc02dd-87d0-4cfe-9b6c-39903fcd871d.png",
                                                    "reward_name": "OVO",
                                                    "point": 800,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "9951eefe-6256-4683-976d-049c4e79dd94",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/6920081a-2e23-40b1-9f82-e2e142eb4bae.png",
                                                    "reward_name": "OVO 10000",
                                                    "point": 20000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                },
                                                {
                                                    "id": "c3920500-eefe-46ca-9c9e-6b35680c1580",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/e82a2c0c-3da8-4439-975b-d6335540cc90.png",
                                                    "reward_name": "OVO 20000",
                                                    "point": 20000,
                                                    "start_date": "2002-03-03",
                                                    "end_date": "2002-03-04"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 10,
                                                "current_page": 1,
                                                "last_page": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/vouchers/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Voucher"
                ],
                "summary": "get detail voucher",
                "description": "",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idVoucher"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan data",
                                            "data": {
                                                "id": "c3920500-eefe-46ca-9c9e-6b35680c1580",
                                                "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/e82a2c0c-3da8-4439-975b-d6335540cc90.png",
                                                "reward_name": "OVO 20000",
                                                "point": 20000,
                                                "start_date": "2002-03-03",
                                                "end_date": "2002-03-04"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Voucher"
                ],
                "summary": "update voucher",
                "description": "",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idVoucher"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestVoucher"
                            },
                            "encoding": {
                                "image": {
                                    "style": "form"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mengupdate data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Voucher"
                ],
                "summary": "delete voucher",
                "description": "delete voucher by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idVoucher"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil menghapus data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/categories": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Article",
                    "Manage Recycles"
                ],
                "summary": "view all categories of trash type",
                "description": "view all categories of trash type",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseArticle"
                                },
                                "examples": {
                                    "200": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan semua article",
                                            "data": [
                                                {
                                                    "id": "0c18a054-f86b-46df-b684-9dc99f6656dc",
                                                    "title": "3 Sampah Berbahaya",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/8dd1a3f2-fdac-42ef-90b1-1581c3e15da1.jpg",
                                                    "content": "sampah itu berbahaya",
                                                    "categories": [
                                                        {
                                                            "category": "nuklir"
                                                        },
                                                        {
                                                            "category": "laptop"
                                                        }
                                                    ],
                                                    "like": 0,
                                                    "share": 0,
                                                    "created_at": "2023-11-28T02:18:27Z",
                                                    "updated_at": "2023-11-28T02:18:27Z"
                                                },
                                                {
                                                    "id": "38fbbfec-480c-43f4-92a2-9a7e5b65b3e0",
                                                    "title": "Kontent",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/d93675cd-1e8a-4cb6-8124-a9e15bdd4918.png",
                                                    "content": "ini artikel",
                                                    "like": 0,
                                                    "share": 0,
                                                    "created_at": "2023-11-28T02:36:19Z",
                                                    "updated_at": "2023-11-28T02:36:19Z"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 2,
                                                "current_page": 1,
                                                "last_page": 4
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/admins/manage/articles": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Article"
                ],
                "summary": "add article",
                "description": "create new article",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestArticle"
                            },
                            "encoding": {
                                "image": {
                                    "style": "form"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menambahkan artikel"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Article"
                ],
                "summary": "view all article ",
                "description": "view all article",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/title"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseArticle"
                                },
                                "examples": {
                                    "200": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan semua article",
                                            "data": [
                                                {
                                                    "id": "0c18a054-f86b-46df-b684-9dc99f6656dc",
                                                    "title": "3 Sampah Berbahaya",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/8dd1a3f2-fdac-42ef-90b1-1581c3e15da1.jpg",
                                                    "content": "sampah itu berbahaya",
                                                    "categories": [
                                                        {
                                                            "category": "nuklir"
                                                        },
                                                        {
                                                            "category": "laptop"
                                                        }
                                                    ],
                                                    "like": 0,
                                                    "share": 0,
                                                    "created_at": "2023-11-28T02:18:27Z",
                                                    "updated_at": "2023-11-28T02:18:27Z"
                                                },
                                                {
                                                    "id": "38fbbfec-480c-43f4-92a2-9a7e5b65b3e0",
                                                    "title": "Kontent",
                                                    "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/d93675cd-1e8a-4cb6-8124-a9e15bdd4918.png",
                                                    "content": "ini artikel",
                                                    "like": 0,
                                                    "share": 0,
                                                    "created_at": "2023-11-28T02:36:19Z",
                                                    "updated_at": "2023-11-28T02:36:19Z"
                                                }
                                            ],
                                            "pagination": {
                                                "limit": 2,
                                                "current_page": 1,
                                                "last_page": 4
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/articles/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Article"
                ],
                "summary": "view detail article ",
                "description": "view detail article by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idArticle"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseArticle"
                                },
                                "examples": {
                                    "200": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan artikel",
                                            "data": {
                                                "id": "58314e02-3958-4499-b24e-3c3664c0a926",
                                                "title": "sampah",
                                                "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/1b5f51e3-f0e9-4238-8e26-1529441358dd.jpg",
                                                "content": "sampah sampah",
                                                "categories": [
                                                    {
                                                        "category": "limbah minyak"
                                                    }
                                                ],
                                                "like": 0,
                                                "share": 0,
                                                "created_at": "2023-11-28T02:41:40Z",
                                                "updated_at": "2023-11-28T02:41:40Z"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Article"
                ],
                "summary": "delete  article ",
                "description": "delete article by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idArticle"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseArticle"
                                },
                                "examples": {
                                    "200": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menghapus artikel"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Article"
                ],
                "summary": "update article",
                "description": "update article by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idArticle"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestArticle"
                            },
                            "encoding": {
                                "image": {
                                    "style": "form"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "updated",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil",
                                            "data": {
                                                "id": "fc5adbb3-ebd6-45e3-af7c-7fb395115195",
                                                "title": "3 Sampah Berbahaya",
                                                "image": "https://storage.googleapis.com/article_thumbnail/thumbnail/e6a02203-4c0f-40dc-9798-7ea011abe68a.jpg",
                                                "content": "sampah itu berbahaya",
                                                "like": 0,
                                                "share": 0,
                                                "created_at": "2023-11-28T01:25:19Z",
                                                "updated_at": "2023-11-28T04:57:20.889Z"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/drop-points": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Drop Point"
                ],
                "summary": "create drop point",
                "description": "",
                "requestBody": {
                    "content": {
                        "application/json": {
[...]
