{
    "openapi": "3.0.3",
    "info": {
        "title": "RecyThing",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.recything.my.id/"
        }
    ],
    "externalDocs": {
        "description": "RecyThing Github",
        "url": "https://api.server.test/v1"
    },
    "paths": {
        "/admins/login": {
            "post": {
                "tags": [
                    "Login Admin"
                ],
                "summary": "login admin & super admin",
                "description": "endpoint for login admin and super admin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestLogin"
                            },
                            "examples": {
                                "superadmin": {
                                    "value": {
                                        "email": "superadmin@gmail.com",
                                        "password": "123456"
                                    }
                                },
                                "admin": {
                                    "value": {
                                        "email": "admin@gmail.com",
                                        "password": "12345678"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "succes login admin",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil login",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil login",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "name": "alta",
                                                "email": "alta@gmail.com"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "create admin",
                "description": "crete admin, only super admin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestRegister"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "fullname": "alta",
                                        "email": "alta@gmailcom",
                                        "password": "12345678",
                                        "confirm_password": "12345678"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "succes create admins",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response membuat admin",
                                        "value": {
                                            "status": "true",
                                            "message": "berhasil membuat admin",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "fullname": "superadmin",
                                                "email": "superadmin@gmail.com"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "get all admins",
                "description": "get all active and non active admins",
                "responses": {
                    "200": {
                        "description": "berhasil mengambil data",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil mengambil semua admin",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua admin",
                                            "data": [
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "superadmin",
                                                    "email": "superadmin@gmail.com",
                                                    "status": "active"
                                                },
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "admin_name_1",
                                                    "email": "admin_email_1",
                                                    "status": "active"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "get detail admins",
                "description": "get detail active and non active admins",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdAdmin"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil mengambil detail admin",
                                        "value": {
                                            "status": true,
                                            "message": "success get detail admin",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "name": "superadmin",
                                                "email": "superadmin@gmail.com",
                                                "status": "active"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "update admin",
                "description": "update admin, only super admin",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdAdmin"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestRegister"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "full_name": "alterra",
                                        "email": "alterra@gmailcom",
                                        "password": "123456789"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "berhasil update data admin",
                                        "value": {
                                            "status": true,
                                            "message": "success updated admin",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "full_name": "alterra",
                                                "email": "alterra@gmail.com"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Admin"
                ],
                "summary": "delete admin",
                "description": "delete admin by super admin",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdAdmin"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "value": {
                                            "status": true,
                                            "message": "success deleted admin"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/users": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage User"
                ],
                "summary": "get all users",
                "description": "get all active and non active users",
                "responses": {
                    "200": {
                        "description": "berhasil mengambil data users",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil mengambil semua user",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua admin",
                                            "data": [
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "superadmin",
                                                    "email": "superadmin@gmail.com",
                                                    "status": "active"
                                                },
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "admin_name_1",
                                                    "email": "admin_email_1",
                                                    "status": "active"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/users/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage User"
                ],
                "summary": "get all users",
                "description": "get all active and non active users",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdUser"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response berhasil menampilkan semua user",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menampilkan data user",
                                            "data": [
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "alta",
                                                    "email": "alta@gmail.com",
                                                    "status": "active"
                                                },
                                                {
                                                    "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                    "name": "alter",
                                                    "email": "alter@gmail.com",
                                                    "status": "active"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage User"
                ],
                "summary": "delete user",
                "description": "delete user by id, this action only for admin",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdUser"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "description": "response delete user",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menghapus user"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/reports": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Report"
                ],
                "summary": "get all report",
                "description": "get all report status and filtering status",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/FilterReport"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All data report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReport"
                                },
                                "examples": {
                                    "get all report": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua data report",
                                            "data": [
                                                {
                                                    "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                    "report_type": "tumpukan sampah",
                                                    "reporter": "jiddan",
                                                    "location": "palu",
                                                    "date_time": "2023-12-07T12:00:00Z",
                                                    "status": "perlu tinjauan"
                                                },
                                                {
                                                    "id": "e61d8dc5-333c-4071-bcf9-d9f2e810140b",
                                                    "report_type": "pelanggaran sampah",
                                                    "reporter": "mamad",
                                                    "location": "jakarta",
                                                    "date_time": "2023-13-07T13:00:00Z",
                                                    "status": "diterima"
                                                }
                                            ]
                                        }
                                    },
                                    "get by status": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil data report",
                                            "data": [
                                                {
                                                    "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                    "report_type": "tumpukan sampah",
                                                    "reporter": "jiddan",
                                                    "location": "palu",
                                                    "date_time": "2023-12-07T12:00:00Z",
                                                    "status": "perlu tinjauan"
                                                },
                                                {
                                                    "id": "e61d8dc5-333c-4071-bcf9-d9f2e810140b",
                                                    "report_type": "pelanggaran sampah",
                                                    "reporter": "andi",
                                                    "location": "jakarta",
                                                    "date_time": "2023-13-07T13:00:00Z",
                                                    "status": "perlu tinjauan"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/reports/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Report"
                ],
                "summary": "!THIS ENDPOINT ISSUE!",
                "description": "get detail report all status.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdReport"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "detail data report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReportDetail"
                                },
                                "examples": {
                                    "report rubbish": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil detail data report rubbish",
                                            "data": [
                                                {
                                                    "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                    "date_time": "2023-12-07T12:00:00Z",
                                                    "report_type": "tumpukan sampah",
                                                    "trash_type": "sampah kering",
                                                    "reporter": "jiddan",
                                                    "location": "palu",
                                                    "benchmark": "samping warung pak ita",
                                                    "description": "saya lihat sampah itu sudah menggunduk seperti gunung dan bau",
                                                    "images": [
                                                        "cloud.google.storage/241432424",
                                                        "cloud.google.storage/2414gyuih34",
                                                        "cloud.google.storage/241ewt231"
                                                    ],
                                                    "status": "perlu tinjauan"
                                                }
                                            ]
                                        }
                                    },
                                    "report literring (kecil)": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil data report literring",
                                            "data": [
                                                {
                                                    "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                    "date_time": "2023-12-07T12:00:00Z",
                                                    "report_type": "pelanggaran sampah",
                                                    "scala_type": "skala kecil",
                                                    "reporter": "marky",
                                                    "location": "tanggerang",
                                                    "benchmark": "dibelakang warteg duren tiga",
                                                    "time_incident": "2023-12-07T12:00:00Z",
                                                    "description": "saya lihat seseorang membuang sampah ke laut",
                                                    "images": [
                                                        "cloud.google.storage/241432424",
                                                        "cloud.google.storage/2414gyuih34",
                                                        "cloud.google.storage/241ewt231"
                                                    ],
                                                    "status": "perlu tinjauan"
                                                }
                                            ]
                                        }
                                    },
                                    "report literring (besar)": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil data report literring",
                                            "data": [
                                                {
                                                    "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                    "date_time": "2023-12-07T12:00:00Z",
                                                    "report_type": "pelanggaran sampah",
                                                    "scala_type": "skala besar",
                                                    "reporter": "hilal",
                                                    "location": "sulteng",
                                                    "benchmark": "dibelakang warteg duren tiga",
                                                    "time_incident": "2023-12-07T12:00:00Z",
                                                    "danger_trash": true,
                                                    "company_information": "PT.Traktir Bersama",
                                                    "description": "saya lihat sampah itu sudah menggunduk seperti gunung dan bau",
                                                    "images": [
                                                        "cloud.google.storage/241432424",
                                                        "cloud.google.storage/2414gyuih34",
                                                        "cloud.google.storage/241ewt231"
                                                    ],
                                                    "status": "perlu tinjauan"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Report"
                ],
                "summary": "Update report",
                "description": "Update report by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdReport"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequesAndResponseUpdateReport"
                            },
                            "examples": {
                                "diterima": {
                                    "description": "contoh request diterima",
                                    "value": {
                                        "status": "diterima"
                                    }
                                },
                                "ditolak": {
                                    "description": "contoh request ditolak",
                                    "value": {
                                        "status": "ditolak",
                                        "reason": "foto buram"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "examples": {
                                    "diterima": {
                                        "description": "response status report diterima",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil memperbarui status"
                                        }
                                    },
                                    "ditolak": {
                                        "description": "response status report ditolak",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil update report status",
                                            "data": {
                                                "id": "e81d8dc5-533c-4071-bcf9-d9f2e810140b",
                                                "report_type": "pelanggaran sampah",
                                                "reporter": "sani",
                                                "status": "ditolak",
                                                "reason": "foto sangat buram"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/prompts": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "create  prompt",
                "description": "create prompt for AI ",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestPrompt"
                            },
                            "examples": {
                                "contoh": {
                                    "description": "ini contoh",
                                    "value": {
                                        "question": "1. cara mendaur ullang sampah plastik",
                                        "category": "sampah organik"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "succes create prompt",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "contoh response membuat prompt",
                                        "value": {
                                            "status": "true",
                                            "message": "berhasil membuat prompt",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "question": "sampah plastik",
                                                "category": "sampah botol"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "get all prompt",
                "description": "get  all prompt",
                "responses": {
                    "200": {
                        "description": "data prompts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePromptDetail"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan data",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "category": "sampah plastik",
                                                "question": "cara mendaur ulang kemasan makanan ringan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/prompts/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "get detail prompt",
                "description": "get detail all prompt",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idPrompt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "deatil data prompt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePromptDetail"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mendapatkan data",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "category": "sampah plastik",
                                                "question": "cara mendaur ulang kemasan makanan ringan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "description": "update data prompt by id",
                "summary": "update by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idPrompt"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestPrompt"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "category": "sampah organik",
                                        "question": "sampah organik contohnya daun daunan"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "mengupdate data prompt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsePromptDetail"
                                },
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengupdate data",
                                            "data": {
                                                "id": "0c97e17e-d1be-4b54-a40c-78098c5714ac",
                                                "category": "sampah organik",
                                                "question": "sampah organik contohnya daun daunan"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Prompt"
                ],
                "summary": "Delete Prompt By id",
                "description": "Delete Prompt by id",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idPrompt"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data prompt",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "berhasil menghapus data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/trashes": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "create category trash",
                "description": "create category trash",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestTrashCategory"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "trash_type": "kaca",
                                        "unit": "kilogram",
                                        "point": 100
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "succes create trash category",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "succes": {
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil menambahkan kategori sampah"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "description": "get all trash category",
                "summary": "get all category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/trashType"
                    },
                    {
                        "$ref": "#/components/parameters/limitTrashType"
                    },
                    {
                        "$ref": "#/components/parameters/pageTrashType"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTrashCategories"
                                },
                                "examples": {
                                    "succes ": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan seluruh kategori sampah",
                                            "data": [
                                                {
                                                    "id": "1d357ee7-1010-4604-8e07-0cc0d7f60f6c",
                                                    "trash_type": "drum",
                                                    "point": 7000,
                                                    "unit": "barang",
                                                    "created_at": "2023-11-20T05:45:06.376+08:00",
                                                    "updated_at": "2023-11-20T05:45:06.376+08:00"
                                                },
                                                {
                                                    "id": "96cab047-aba4-4993-a4e6-deeab768ad2c",
                                                    "trash_type": "ranting",
                                                    "point": 5000,
                                                    "unit": "kilogram",
                                                    "created_at": "2023-11-20T05:44:43.28+08:00",
                                                    "updated_at": "2023-11-20T05:44:43.28+08:00"
                                                },
                                                {
                                                    "id": "b393e1bc-3ee7-4a63-b521-a55cb544aac2",
                                                    "trash_type": "kaca",
                                                    "point": 5000,
                                                    "unit": "barang",
                                                    "created_at": "2023-11-20T05:44:30.32+08:00",
                                                    "updated_at": "2023-11-20T05:44:30.32+08:00"
                                                }
                                            ],
                                            "pagination": {
                                                "pagination": {
                                                    "Limit": 2,
                                                    "CurrentPage": 1,
                                                    "LastPage": 3
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/trashes/{id}": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "get detail",
                "description": "get detail category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idTrashCategory"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "succes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseTrashCategories"
                                },
                                "examples": {
                                    "success": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mendapatkan detail kategori sampah",
                                            "data": {
                                                "id": "6f6dd30a-12c7-468a-a57a-bda6cf5cdaf5",
                                                "trash_type": "kayu",
                                                "point": 100,
                                                "unit": "barang",
                                                "created_at": "2023-11-20T13:23:09.262+08:00",
                                                "updated_at": "2023-11-20T13:23:09.262+08:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "delete by id",
                "description": "delete category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idTrashCategory"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil menghapus kategori"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Trash Category"
                ],
                "summary": "update by id",
                "description": "update category trash",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/idTrashCategory"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestTrashCategory"
                            },
                            "examples": {
                                "contoh": {
                                    "value": {
                                        "trash_type": "kaca",
                                        "unit": "kilogram",
                                        "point": 100
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "success": {
                                        "description": "OK",
                                        "value": {
                                            "status": true,
                                            "message": "Berhasil mengupdate kategori sampah",
                                            "data": {
                                                "id": "96cab047-aba4-4993-a4e6-deeab768ad2c",
                                                "trash_type": "sampah c update",
                                                "point": 200,
                                                "unit": "barang",
                                                "created_at": "0001-01-01T00:00:00Z",
                                                "updated_at": "2023-11-20T15:13:12.643+08:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/achievements": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Achievement"
                ],
                "summary": "get all achievements with data total claimed",
                "description": "",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "total_point": {
                                            "type": "integer"
                                        },
                                        "total_claimed": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": true,
                                            "message": "berhasil mengambil semua data",
                                            "data": [
                                                {
                                                    "id": 1,
                                                    "name": "platinum",
                                                    "target_point": 250000,
                                                    "total_claimed": 2
                                                },
                                                {
                                                    "id": 2,
                                                    "name": "gold",
                                                    "target_point": 100000,
                                                    "total_claimed": 0
                                                },
                                                {
                                                    "id": 3,
                                                    "name": "silver",
                                                    "target_point": 50000,
                                                    "total_claimed": 0
                                                },
                                                {
                                                    "id": 4,
                                                    "name": "bronze",
                                                    "target_point": 0,
                                                    "total_claimed": 26
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admins/manage/achievements/{id}": {
            "patch": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "tags": [
                    "Manage Achievement"
                ],
                "summary": "update point achievements",
                "description": "",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id achievements",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "examples": {
                            "platinum": {
                                "value": 1
                            },
                            "gold": {
                                "value": 2
                            }
                        }
                    }
                ],
                "requestBody":{
                    "content": {
                        "application/json":{
                            "schema":{
                                "properties": {
                                    "target_point":{
                                        "type": "integer"
                                    }
                                },
                                "required": ["total_point"]
                            },
                            "examples": {
                                "example":{
                                    "value":{
                                        "target_point":250000
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json":{
                                "examples": {
                                    "success":{
                                        "value":{
                                            "status": true,
                                            "message": "berhasil melakukan pembaruan data"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "IdAdmin": {
                "name": "id",
                "in": "path",
                "description": "id admin",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "examples": {
                    "admin": {
                        "value": "0c97e17e-d1be-4b54-a40c-78098c5714ac"
                    }
                }
            },
            "IdUser": {
                "name": "id",
                "in": "path",
                "description": "id user",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "examples": {
                    "user": {
                        "value": "0c97e17e-d1be-4b54-a40c-78098c5714ac"
                    }
                }
            },
            "IdReport": {
                "name": "id",
                "in": "path",
                "description": "id report",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "examples": {
                    "id": {
                        "value": "e81d8dc5-533c-4071-bcf9-d9f2e810140b"
                    }
                }
            },
            "idPrompt": {
                "name": "id",
                "in": "path",
                "description": "id prompt",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "examples": {
                    "id": {
                        "value": "e81d8dc5-533c-4071-bcf9-d9f2e810140b"
                    }
                }
            },
            "FilterReport": {
                "name": "status",
                "in": "query",
                "description": "status reporting",
                "schema": {
                    "type": "string",
                    "enum": [
                        "perlu ditinjau",
                        "diterima",
                        "ditolak"
                    ]
                }
            },
            "idTrashCategory": {
                "name": "id",
                "in": "path",
                "description": "id prompt",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "examples": {
                    "id": {
                        "value": "e81d8dc5-533c-4071-bcf9-d9f2e810140b"
                    }
                }
            },
            "trashType": {
                "name": "trash_type",
                "in": "query",
                "description": "name of trash type",
                "schema": {
                    "type": "string"
                }
            },
            "limitTrashType": {
                "name": "limit",
                "in": "query",
                "description": "limit of trash type",
                "schema": {
                    "type": "string"
                }
            },
            "pageTrashType": {
                "name": "page",
                "in": "query",
                "description": "page of trash type",
                "schema": {
                    "type": "string"
                }
            }
        },
        "schemas": {
            "RequestRegister": {
                "type": "object",
                "properties": {
                    "fullname": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "confirm_password": {
                        "type": "string"
                    }
                },
                "required": [
                    "full_name",
                    "email",
                    "password",
                    "confirm_password"
                ]
            },
            "RequestPrompt": {
                "type": "object",
                "properties": {
                    "category": {
                        "type": "string",
                        "enum": [
                            "sampah plastik",
                            "sampah organik",
                            "batasan",
                            "informasi"
                        ]
                    },
                    "Question": {
                        "type": "string"
                    }
                },
                "required": [
                    "category",
                    "question"
                ]
            },
            "RequestLogin": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                },
                "required": [
                    "email",
                    "password"
                ]
            },
            "ResponseReport": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "report_type": {
                        "type": "string",
                        "enum": [
                            "tumpukan sampah",
                            "pelanggaran sampah"
                        ]
                    },
                    "location": {
                        "type": "string"
                    },
                    "date_time": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "perlu ditinjau",
                            "diterima",
                            "ditolak"
                        ]
                    }
                }
            },
            "ResponsesReportDetail": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "report_type": {
                        "type": "string",
                        "enum": [
                            "tumpukan sampah",
                            "pelanggaran sampah"
                        ]
                    },
                    "trash_type": {
                        "type": "string",
                        "enum": [
                            "sampah kering",
                            "sampah basah"
                        ]
                    },
                    "scala_type": {
                        "type": "string",
                        "enum": [
                            "skala besar",
                            "skala kecil"
                        ]
                    },
                    "reporter": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    },
                    "benchmark": {
                        "type": "string"
                    },
                    "time_incident": {
                        "type": "string"
                    },
                    "company information": {
                        "type": "string"
                    },
                    "danger_trash": {
                        "type": "boolean"
                    },
                    "description": {
                        "type": "string"
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "date_time": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "perlu tinjauan",
                            "diterima",
                            "ditolak"
                        ]
                    }
                }
            },
            "RequesAndResponseUpdateReport": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                }
            },
            "ResponsePromptDetail": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "question": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string",
                        "enum": [
                            "sampah organik",
                            "sampah plastik"
                        ]
                    }
                }
            },
            "ResponsePrompts": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "question": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string",
                        "enum": [
                            "sampah organik",
                            "sampah plastik"
                        ]
                    }
                }
            },
            "RequestResponseDataUser": {
                "type": "object",
                "properties": {
                    "fullname": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "date_of_birth": {
                        "type": "string"
                    },
                    "point": {
                        "type": "integer"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "purpose": {
                        "type": "string"
                    }
                }
            },
            "RequestTrashCategory": {
                "type": "object",
                "properties": {
                    "trash_type": {
                        "type": "string"
                    },
                    "unit": {
                        "type": "string",
                        "enum": [
                            "kilogram",
                            "barang"
                        ]
                    },
                    "point": {
                        "type": "integer"
                    }
                },
                "required": [
                    "trash_type",
                    "unit",
                    "point"
                ]
            },
            "ResponseTrashCategories": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "trash_type": {
                        "type": "string"
                    },
                    "unit": {
                        "type": "string",
                        "enum": [
                            "barang",
                            "kilogram"
                        ]
                    },
                    "last_page": {
                        "type": "string"
                    },
                    "current_page": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "token": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "Authorization"
            }
        }
    }
}